#body{
   background-color: black;
   color: white;
   max-width: 1400px;
   margin: 0 auto;
}
#navLogo{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-style: italic;
}
#navLogo span{
    color:rgb(46, 55, 154);
    font-size: 30px;

}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#header a{
    margin-right: 15px;
    color: white;
    font-size: 16px;
text-decoration: none;   
}
#navBtn{
    background-color:red;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 10px 8px;

}

/* banner section */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#banner img{
        margin-top: 20px;
}
#banner h2{
    font-weight:600;
    font-size: 48px;
   
}
#banner h2 span{
    color: rgb(46, 55, 154);
}
#banner button{
    border-radius: 10px;
    padding: 10px 8px;
    font-weight: 500;
    background-color: rgb(0, 157, 255);
    color: rgb(12, 6, 6);
}

/* about me section */
.aboutMe{
    font-size: 30px;
    font-weight: 700;
    color: rgb(107, 120, 254);
    font-style: italic;
    text-align: center;
}
#aboutSection p{
    color: rgb(239, 230, 230);
    font-size: 20px;
}
#aboutSection{
    display: flex;
    gap: 100px;
    padding: 25px;
    align-items: center;
    background-color:rgba(211, 211, 211, 0.233);
}
.serviceCard{
    border: 2px solid rgb(46, 55, 154);
    box-shadow: 10px 10px 5px rgb(91, 100, 197);
    border-radius: 10px;
}
.serviceCard h2{
    font-size: 30px;
    font-weight: 700;
    color: rgb(46, 55, 154);
    font-style: italic;
    text-align: center;
}
.serviceCard p{
    font-size: 20px;
    text-align: center;
   
}
.serviceCard button{
    background-color:rgb(0, 149, 255);
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 10px 8px;
}
#service{
    display: flex;
    gap: 20px;
   
}
.let{
    color: rgb(180, 245, 245);
    font-size: 40px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn2{
    background-color:rgb(0, 179, 255);
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 10px 8px;
}

#moreInfo{
    height: 300px;
    background: rgba(128, 128, 128, 0.639);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#footerIcon{
    display: flex;
    justify-content: center;
    gap:30px;
    
    
}
#footerIcon a{
    font-size: 30px;
}
#footer{
    text-align: center;
}