#body{
   background-color: black;
   color: white;
}
#navLogo{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-style: italic;
}
#navLogo span{
    color:red;
    font-size: 30px;

}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#header a{
    margin-right: 15px;
    color: white;
    font-size: 16px;
text-decoration: none;   
}
#navBtn{
    background-color:red;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 10px 8px;

}

/* banner section */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#banner img{
        margin-top: 20px;
}
#banner h2{
    font-weight:600;
    font-size: 48px;
   
}
#banner h2 span{
    color: red;
}
#banner button{
    border-radius: 10px;
    padding: 10px 8px;
    font-weight: 500;
    background-color: red;
    color: white;
}

/* about me section */
.aboutMe{
    font-size: 30px;
    font-weight: 700;
    color: red;
    font-style: italic;
    text-align: center;
}
#aboutSection p{
    color: black;
    font-size: 20px;
}
#aboutSection{
    display: flex;
    gap: 100px;
    padding: 25px;
    align-items: center;
    background-color:lightgray;
}
.serviceCard{
    border: 2px solid red;
    box-shadow: 10px 10px 5px red;
    border-radius: 10px;
}
.serviceCard h2{
    font-size: 30px;
    font-weight: 700;
    color: red;
    font-style: italic;
    text-align: center;
}
.serviceCard p{
    font-size: 20px;
    text-align: center;
   
}
#service{
    display: flex;
    gap: 20px;
   
}