#body{
   background-color: black;
   color: white;
}
#navLogo{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
#navLogo span{
    color: pink;

}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#header a{
    margin-right: 15px;
    color: white;
    font-size: 16px;
text-decoration: none;   
}
#navBtn{
    background-color: pink;
    font-size: 16px;
    border-radius: 10px;
    color: white;

}

/* banner section */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#banner img{
    box-shadow: 10px 20px 25px 10px gray;
    margin-top: 20px;
}
#banner h2{
    font-weight:600;
    font-size: 48px;
}
#banner h2 span{
    color: red;
}